{% extends 'base.html.twig' %}

{% block title %} Modification MDP - Netflux {% endblock %}

{% block content %}
<div class="container register-custom" >
    <h1>Modification du mot de passe</h1>
    <a href="{{ path('app_account') }}">Retourner à mon Compte</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
{{ form(form) }}
    <hr>
</div>

{% endblock %}

