{% extends 'base.html.twig' %}
{% block carousel %} {% endblock %}
{% block content %}

    <!-- Three columns of text below the carousel -->
    <h3 class="mt-5 mb-3 mx-5" style="color: white; font-weight: bold; text-transform: uppercase">A la Une</h3>
    <div class="row mx-3 justify-content-center text-center " >

        {% for movie in movies %}
            <div class="col-md-3 img-custom" >
                {% include 'movie_list_controlleur/single_movie.html.twig'%}
            </div>
        {% endfor %}
    </div><!-- /.row -->



{% endblock %}
