
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


.index_carousel .carousel-item {

    height: 60vh;


}


@media (max-width: 1150px) {
    .index_carousel .carousel-item {
        height: 50vh;


    }
}


.index_carousel .carousel-custom{

    background-size: cover;
    background-position: top;
}



