/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Declare heights because of positioning of img element */
.index_carousel .carousel-item {

    height: 60vh;


}


@media (max-width: 1150px) {
    .index_carousel .carousel-item {
        height: 50vh;


    }
}


.index_carousel .carousel-custom{

    background-size: cover;
    background-position: top;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}



