@font-face {
    font-family: "AvenirFont";
    src: url(AvenirFont.otf)
}

.navbar{
    background-color: rgb(0, 0, 0);
}
body{
    background-color: black;
}

.nav_bar_button, .nav_bar_button a
{
    color: white;
}

.footer-custom
{
    text-align: center;
    position: fixed;
    background-color: #181818;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.movie_item h5
{
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;
}


.movie_item
{
    margin-top: 20px;
}

.movie_item img
{
    opacity: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle
{
    transition: .5s ease;
    opacity: 0;
}

.movie_item:hover .middle
{
    opacity: 1;
    color: white;


}

.movie_item:hover img
{
    opacity: 0.3;
}

.movie_item .movie-price
{
    font-size: 14px;
}

.padding-custom
{
    padding-right: 5px;
    padding-left: 5px;
}
@media ( max-width: 777px)
{
    .movie_item img{

        width: 300px;
        max-height: max-content;

    }
}

.comment-carousel .carousel-control-prev-icon {

    background-image: url(previous-icon.png);
    z-index: 0;
}

.comment-carousel .carousel-control-next-icon {

    background-image: url(next-icon.png);
    z-index: 0;
}




.container-custom
{
    position: relative;
    text-align: center;
}



.center
{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 20px;
    top: 40%;
}

.movie-container
{
    margin-bottom: 125px;
}
.img_films{
    width: 400px;
}

@media (max-width: 860px ) {
    .img_films{
        width: 300px;
    }
}





.img-custom{
    filter: drop-shadow(0 0 1.2rem #443434);
}

.research-field{
    background-color: #464646;

    border-color: black;
    height: 50px;

}

.research-field:hover{
    background-color: #3d3d3d;
}



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1001px #1b1b1b inset !important;
    -webkit-text-fill-color: #888888 !important;
}


.research-field:read-only{
    background-color: rgba(91, 91, 91, 0.76);

}


.research-field:focus{
    background-color: #3b3b3b;
    border-color: black;
    color: grey;

}


.custom-font{
    font-family: AvenirFont;
}

.form-check-input{
    background-color: #464646;
}
.form-check-input:checked{
    background-color: #520f0f;
    border-color: black;
}

.custom-check:checked{
    background-color: black;

}

.custom-submit{
    border-color: black;
    color: #c5c3c3;
    background-color: #521515;
    width: 100%;
    margin-top: 10px;
}

.custom-submit:hover{
    color: #c5c3c3;
    background-color: #3b1111;

}

.register-custom{
    padding-top: 20px;
    width: 50vh;
}


@media (max-width: 490px ){
    .register-custom{

        width: 90%;
    }
}
